<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itajay.spring_ai_schoolassistant.mapper.TaskListMapper">

    <sql id="reslut_column">
t.status      AS status,
t.deadline    AS deadline,
t.type        AS type,
t.title       AS title,
t.description AS description,
t.complete_time As completeTime
    </sql>


    <select id="queryOverdueTask" resultType="com.itajay.spring_ai_schoolassistant.entity.vo.TaskView">
        select
        <include refid="reslut_column"/>
        from task_list t
        where status = 2
        order by desc priority;
    </select>
    <select id="queryFinishedTaskList" resultType="com.itajay.spring_ai_schoolassistant.entity.vo.TaskView">
        select
        <include refid="reslut_column"/>
        from task_list t
        where status = 1
        order by desc priority;
    </select>
    <select id="queryPendingTasks" resultType="com.itajay.spring_ai_schoolassistant.entity.vo.TaskView">
        select
        <include refid="reslut_column"/>
        from task_list t
        where status = 0
        order by desc priority;
    </select>


</mapper>
